.tan-bg {
    background-color: #DEE1DE;

}

#contact {

    padding-top: 2em;

    img {
        width: 90%;
    }
    

    
    #contact-links {
        a{
            color: black;
            padding: 1em .5em;
            text-decoration: none;
            margin: 1em 0;
            width: 70%;
            background-color: white;
            border-radius: 10px;
            border: none;

            
            

            &:hover {
                opacity: .7;
            }

            i {
                font-size: 1.5em;
            }
        }
    }
}