#contact {

    padding-top: 4em;
    background-color: lightgrey;

    img {
        width: 90%;
    }
    

    
    #contact-links {
        a{
            color: black;
            padding: 1em .5em;
            text-decoration: none;
            margin: 1em 0;
            width: 70%;
            background-color: white;
            border-radius: 10px;
            border: 2px solid rgba(86, 86, 86, 0.362);

            
            

            &:hover {
                opacity: .7;
            }

            i {
                font-size: 1.5em;
            }
        }
    }
}