.general-services {
    background-image: url(https://images.pexels.com/photos/3184338/pexels-photo-3184338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

}

#gen-ser-micro {

    .col-3 {
        min-width: 250px !important;

    }
    .gen-ser-icon {
        width: 40%;
    }

    .ser-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: normal;
        text-align: center;
        height: 30vh;
        padding: .5em;
        margin: .5em;
        border: 2px solid rgba(86, 86, 86, 0.362);
        border-radius: 10px;
        * {
            margin: .5em;
            padding: .5rem;
        }
        i {
            margin-bottom: 1em;
        }
    }
    /*@media screen and (max-width: 820px){
        
        .col-3 {
            width: 215px !important;
        }
    }*/
}