//quote breaks
@media (max-width: 750px) {
    .carousel-item {
        blockquote {
            padding: 10px;
            padding-left: 2em;
            font-size: 1em;
        }
    }
}

@media (min-width: 992px) {
    #post-hero-text {
      max-width: 75vw;
    }
  }