#recruitment {
    .active {
        background-color: rgb(222, 225, 222);
    
    }

}
#recruit-tags {
    background-color: #5e918f;
    color: white;
    stroke: white;
}

.recruit-icon {
    width: 80%;
    max-width: 200px;
}

.rec-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: normal;
    text-align: center;
    padding: .5em;
    
    &:hover {
        background-color: rgb(222, 225, 222);
    }
    * {
        margin: .5em;
        padding: .5rem;
    }
    i {
        margin-bottom: 1em;
    }
}


.card-section{
    cursor: pointer;
}

#desc-box {
    
}